@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&family=Noto+Serif+KR:wght@700&display=swap');


.container {
  padding: 0 2rem;
  background-color: #F1EbE3
}

.post {
  padding: 0rem 0vw;
  max-width: 800px;
  margin: auto;  
  background-color: #F1EbE3;
  font-family: 'Avenir', sans-serif;
}

.post_titles {
  font-family: 'Noto Serif KR', serif;
}

.post-body {
  padding: 0 4rem;
  background-color: #F1EbE3;
}

.box {
  background:"white";
  padding:"5px";
  margin:"3px";
  border-radius:'5px';
}

.main {
  min-height: 72vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1EbE3
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #e1ddd2;
  background-color: #F1EbE3;
  justify-content: center;
  align-items: center;
  font-family: 'Avenir', sans-serif;
  color: #c8c3b7;
  margin-top: 30px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Noto Serif KR', serif;
  color: black;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-family: 'Avenir', sans-serif;
  font-size: 1.3rem;
}

.code {
  background: #e2ded8;
  border-radius: 5px;
  padding: 0.55rem;
  margin-left: 8px;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.code:hover{
  background: #d6d3cd;
}

.h1 {
  font-family: 'Noto Serif KR', serif;
  color: black;
  font-size: 2.0rem;
}
.h2 {
  font-family: 'Noto Serif KR', serif;
  color: rgb(96, 88, 79);
  font-size: 1.2rem;
  font-style: italic;
}
.h2beige {
  font-family: 'Noto Serif KR', serif;
  /* color: rgb(181, 173, 164); */
  font-size: 2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
